{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid">
    </br>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5">
        <div class="card" style="background-color: #004080; color: white; border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            {% if err_mess != null%}
            <div class="alert alert-danger" role="alert" id="errorMsg">
              {{err_mess}}
            </div>
            {% endif %}
            <div class="mb-md-1 mt-md-1 pb-1">
              <h2 class="fw-bold mb-2 text-uppercase">Change Password</h2>
<!--              <p class="text-white-50 mb-5">Enter patient information</p>-->

              <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}

                <div class="row mb-4">
                  <div class="col text-end">
                    <label class="form-label" for="inputOldPassword">Old password:</label>
                  </div>
                  <div class="col">
                    <input type="password" id="inputOldPassword" name="inputOldPassword" class="form-control form-control-lg" required/>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col text-end">
                    <label class="form-label" for="inputPassword">New password:</label>
                  </div>
                  <div class="col">
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control form-control-lg" required/>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col text-end">
                    <label class="form-label" for="inputPasswordAgain">Confirm password:</label>
                  </div>
                  <div class="col">
                    <input type="password" id="inputPasswordAgain" name="inputPasswordAgain" class="form-control form-control-lg" required/>
                  </div>
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit" id="changeButton">Change</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
