{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid">
    </br>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5">
        <div class="card" style="background-color: #004080; color: white; border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-1 mt-md-1 pb-1">
              {% if error != null%}
              <div class="alert alert-danger" role="alert" id="errorMsg">
                {{error}}
              </div>
              {% endif %}
              <h2 class="fw-bold mb-2 text-uppercase">Patient Registration</h2>
              <p class="text-white-50 mb-5">Enter patient information</p>

              <form method="post" action="{% url 'patient_registration' %}">
                {% csrf_token %}

                <div class="row mb-4">
                  <div class="col text-end">
                    <label class="form-label" for="inputFirstName">First Name:</label>
                  </div>
                  <div class="col">
                    <input type="text" id="inputFirstName" name="inputFirstName" class="form-control form-control-lg" required/>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col text-end">
                    <label class="form-label" for="inputLastName">Last Name:</label>
                  </div>
                  <div class="col">
                    <input type="text" id="inputLastName" name="inputLastName" class="form-control form-control-lg" required/>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col text-end">
                    <label class="form-label" for="inputPesel">PESEL:</label>
                  </div>
                  <div class="col">
                    <input type="text" id="inputPesel" name="inputPesel" pattern="\d{11}" class="form-control form-control-lg" required/>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col text-end">
                    <label class="form-label" for="inputPhoneNumber">Phone Number:</label>
                  </div>
                  <div class="col">
                    <input type="text" id="inputPhoneNumber" name="inputPhoneNumber" pattern="\d{9}" class="form-control form-control-lg" required/>
                  </div>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit" id="buttonRegister">Register</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
