{% extends 'base.html' %}

{% block content %}
<br />
<div class="container-fluid">
  <div class="card mb-3 text-white" style="max-width: 60vw; left: 20%; border-radius: 1rem; background-color: #004080; ">
    <div class="card-header text-center">
      <h2>{{ visit.name.name }}</h2>
    </div>
    <div class="card-body text-center">
      <div class="card-text">
        <div class="row">
          <div class="col-md-2 border-right d-flex align-items-center"></div>
          <div class="col-md-5 border-right d-flex align-items-center">
            <h5>{{ visit.date|date:"l: d F, Y " }}</h5>
          </div>
          <div class="col-md-5 border-right d-flex align-items-center">
            <h5>Patient: {{ visit.patient.first_name }} {{ visit.patient.last_name }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 border-right d-flex align-items-center"></div>
          <div class="col-md-5 border-right d-flex align-items-center">
            <h5>{{ visit.start_time }} - {{ visit.end_time }}</h5>
          </div>
          <div class="col-md-5 border-right d-flex align-items-center">
            <h5>Birthday: {{ visit.patient.birthday|date:"d F, Y " }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<form method="post">
  {% csrf_token %}
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-md-6">
        <div class="card mb-3 text-white" style="width: 100%; height: 350px; border-radius: 1rem; background-color: #004080; ">
          <div class="card-header text-center">
            <h3>Description</h3>
          </div>
          <div class="card-body" style="overflow-y: auto">
            <div class="card-text">
              <textarea name="description" style="width: 100%; height: 250px; border: none; color: black;">{{ visit.description }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-3 text-white" style="width: 100%; height: 350px; border-radius: 1rem; background-color: #004080; ">
          <div class="card-header text-center">
            <h3>Recommendation</h3>
          </div>
          <div class="card-body" style="overflow-y: auto">
            <div class="card-text">
              <textarea name="recommendation" style="width: 100%; height: 250px; border: none; color: black;">{{ visit.recommendation }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if visit.status == "in_process"%}
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="card mb-3 text-white mx-auto" style="border-radius: 1rem; background-color: #004080; display: inline-flex;">
            <div class="card-body text-center">
              <button type="submit" class="btn btn-success" name="save_continue">Save & Continue</button>
              &nbsp;&nbsp;
              <button type="submit" class="btn btn-primary" name="save_exit">Save & Exit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="card mb-3 text-white mx-auto" style="border-radius: 1rem; background-color: #004080; display: inline-flex;">
            <div class="card-body text-center">
              <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#save_continue" name="save_continue">Save & Continue</a>
              &nbsp;&nbsp;
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save_exit" name="save_exit">Save & Exit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Confirm s&c-->
    <div class="modal fade" id="save_continue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="save_continue_moda">Cancellation Visit</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              The visit will have passed. Are you sure you want to save your changes?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success" name="save_continue_confirm">Save & Continue</button>
            </div>
        </div>
      </div>
    </div>

    <!--Confirm s&e-->
    <div class="modal fade" id="save_exit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="save_exit_moda">Cancellation Visit</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              The visit will have passed. Are you sure you want to save your changes?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success" name="save_exit_confirm">Save & Exit</button>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</form>



{% endblock %}